.background-container {
  background-color: #faf9f9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .pres-img {
    display: none;
  }
  .home-presSkills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.screen-size {
  min-height: 100vh;
}
