#home-pres {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.background-container {
  background-color: #faf9f9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  min-height: 100vh;
}
