.bio-title {
  font-family: "FuturaMedium";
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.bio-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

#bio-para {
  font-family: "FuturaMedium";
  padding: 1rem;
  max-width: 50%;
  font-size: 1.2vw;
  word-spacing: 0.2vw;
  letter-spacing: 0.2vw;
  line-height: 2.5vw;
  font-weight: normal;
}

.photoProfil {
  margin: 5rem;
  max-width: 30%;
  height: auto;
  box-shadow: 0 0 0 14px #fefefe, 0 0 0 15px #131918, -30px -30px 0 10px #f2dfc7;
  padding: 5px 10px 10px 5px;
}

/*media query*/
