* {
  box-sizing: border-box;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "FuturaMedium";
}

.contact-h1 {
  text-shadow: 3px 3px 2px #0d0f12;
  color: #efbe7d;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  margin-top: 0;
  font-family: "FuturaMedium";
}

.contact-h4 {
  font-weight: normal;
}

.contact-form {
  position: relative;
}

.contact-icon {
  position: absolute;
  margin-top: 2.3rem;
  margin-left: 0.3rem;
}

input {
  height: 2.4rem;
  width: 20em;
  font-size: 1rem;
  margin-top: 2rem;
  text-align: start;
  border-radius: 0.5rem;
  border: 2px solid black;
  box-shadow: 0px 2px 0 0 black;
  padding-left: 2rem;
  font-family: "FuturaMedium";
}

.wrapper-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-message {
  text-align: center;
  height: 10rem;
  width: 20em;
  font-size: 1rem;
  margin-top: 2.5rem;
  text-align: start;
  border-radius: 0.5rem;
  border: 2px solid black;
  box-shadow: 0px 5px 0 0 black;
  padding: 1rem;
  resize: vertical;
  font-family: "FuturaMedium";
}

.contact-button {
  width: 20rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  background-color: #f2dfc7;
  text-align: center;
  border-radius: 0.5rem;
  border: 2px solid black;
  box-shadow: 0px 5px 0 0 black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "FuturaMedium";
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  transition: 0.7s;
}

.contact-button:hover {
  background-color: black;
  color: white;
  border: 2px solid #f2dfc7;
  box-shadow: 0px 5px 0 0 #f2dfc7;
  cursor: pointer;
  transition: 0.5s;
}
