#footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #555;
  font-family: "raleway";
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-name {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

@media (max-width: 767px) {
  footer {
    position: relative;
  }
}
