@font-face {
  font-family: "FuturaMedium";
  src: url("../assets/fonts/FuturaPTMedium.otf");
}

#presentation {
  margin: 0rem 8rem;
}

.presGlobal {
  display: flex;
  justify-content: space-between;
}

.pres-h1 {
  font-size: 8rem;
  font-family: "FuturaMedium";
  cursor: default;
  margin: 0;
  margin-top: 3rem;
}

.pres-img {
  width: 100%;
  height: 40rem;
}

.calculette {
  width: 100%;
  margin-left: 7rem;
  object-fit: contain;
}

/* Typing carrousel */

.typing-demo {
  font-weight: normal;
  width: 19ch;
  animation: typing 4s steps(20), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "FuturaMedium";
  font-size: 2em;
  margin: 1rem 8rem;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* cool orange effet */

.pres-bold {
  text-decoration: none;
  position: relative;
}

.pres-bold::before {
  content: "";
  background-color: hsla(21, 99.2%, 50.2%, 0.75);
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
  height: 14px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.pres-bold:hover::before {
  bottom: 0;
  height: 100%;
}

/*media query*/
