@font-face {
  font-family: "ralewayBold";
  src: url("../assets/fonts/Raleway-Bold.ttf");
}

#projects-globalCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 70%;
}

.projects-title {
  font-family: "FuturaMedium";
  text-align: center;
  font-size: 3rem;
}
