.projcard-img {
  max-width: 19rem;
  height: auto;
  border-radius: 1rem;
  transition: all 0.5s ease;
  margin: 2rem;
  border-radius: 2rem;
}

#projcard-hoverContainer {
  position: relative;
}

.projcard-hoverText {
  visibility: hidden;
  position: absolute;
  text-align: start;
  top: 75%;
  left: 8%;
  font-family: "FuturaMedium";
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.3rem;
  line-height: 1.3rem;
  text-shadow: 2px 2px 2px #0d0f12;
}

.projcard-img:hover {
  border-radius: 2rem;
  transform: translateY(-5px);
  filter: blur(7px);
}

.projcard-container:hover .projcard-hoverText {
  visibility: visible;
  width: 8rem;
  height: 5rem;
  transition: 0.8s;
  padding: 1rem;
  border-radius: 1rem;
  white-space: pre-line;
}
