#skills {
  display: flex;
  justify-content: end;
  cursor: default;
  flex-wrap: wrap;
  width: 30%;
}

/* animation */

.skills-all {
  transition: transform 250ms;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  width: fit-content;
  font-family: "FuturaMedium";
  margin-left: 3rem;
  color: #ffffff;
}

.skills-all:hover {
  transform: translateY(-10px);
}

/* couleur */

.orange {
  background-color: #ff7f50;
}

.black {
  background-color: #352725;
}

.violet {
  background-color: #8a595d;
}

.gold {
  background-color: #efbf7d;
}

.jaune {
  background-color: #f0a93e;
}

.marron {
  background-color: #c3533d;
}

.gray {
  background-color: #5c5a5a;
}
